svg {
    border: 1px solid black;
}



/* Cat stuff! */
.pupil-cat {
    animation: pupil-cat 3s ease-in-out infinite;
}
.pupil-reflection-cat {
    animation: pupil-reflection-cat 3s ease-in-out infinite;
}

@keyframes pupil-cat {
    75%, 50%, 35% {
        transform: translate(8px, -0px);
    }
    55%, 65% {
        transform: translate(-2px, 0px);
    }
}
@keyframes pupil-reflection-cat {
    75%, 50%, 35% {
        transform: translate(11px, -0px);
    }
    55%, 65% {
        transform: translate(-0px, 0px);
    }
}
